
.font-config {
  font-family: Times, "Times New Roman", Georgia, serif;
}

.btn-cadastro {
  text-decoration: none;
  background: #010440;
  color: #f2f0d8;
  font-weight: normal;
  border-radius: 10px;
  margin: 3px;   
}

.btn-cadastro:hover {
  color: #F2EB85;
  background: #0A0E59;
}

.form {
  margin-top: 100px ;
  max-width: 40%;
  margin: 0 auto;
  background-color: #cc9; 
  border:10px solid rgba(134, 113, 113, 0.384); 
  padding: 5px;
}